body{
	
	margin: 0;
	padding-top: 0;
	background: url(../images/medoc.jpg);
	background-size: 90%;
}

.logoG{

	width: 10%;
	height: 10%;
}
.navbar{

	font-size: 1.1rem;
	
}
.footer {
   padding-top: 1em;
   padding-left: 1em;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2d5986;
   color: white;
   height: 4.3em;
   


}
.footer a{

	color: #fff;
}
